@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.navbar {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 68px;
  background: $color-primary;

  &__logo {
    display: inline-block;
    flex-shrink: 0;

    img {
      display: block;
      width: 142px;
      height: 48px;
      object-fit: contain;
    }
  }

  @include mobile {
    height: 72px;
    padding: 0 24px;

    &__logo img {
      width: 110px;
      height: 37px;
    }
  }
}
